.planning_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.travel_planing > h2 {
    text-align: center;
    font-size: 28px;
    }

    .icon_image {
        width: 50px;
    }
    .planning_container> .case_foto {
        margin-right: 50px;}
        
        .text-planing_other {
            display: flex;
        }
        